<ion-app>
  <ion-router-outlet>

    <ion-card>
      <ion-img
        src="https://media.istockphoto.com/id/1442417585/es/foto/persona-recibiendo-un-pedazo-de-pizza-de-pepperoni-con-queso.jpg?s=612x612&w=0&k=20&c=Uk4fj96OIDxE4v2S5sRRXRY_gZ899_TE6jGD-T-TysI="
      ></ion-img>
      <ion-card-header>
        <ion-card-title id="title">BIG NEW YORKER BACON & BANANA PEPPERS</ion-card-title>
      </ion-card-header>
      <ion-card-content> Es una pizza de gran tamaño, inspirada al estilo New York
        con rebanadas grandes, de pepperoni y trocitos de bacon, con abundante rebanadas de chile
        banana peppers de sabor suave con toque ácido, con una mezcla de orégano y queso
        parmesano sobre los ingredientes y mantequilla de ajo a la orilla. </ion-card-content>
    </ion-card>    

    <ion-card id="card">
    <div>
      <ion-label id="label">DESDE</ion-label>
      <ion-label id="precio">LPS. 329.00</ion-label>
    </div>

    <div>
      <ion-label  id="label">CANTIDAD: </ion-label>
      <ion-button id="botones" (click)="restarCantidad()">-</ion-button>
      <ion-label id="label">
        {{ num }}
      </ion-label>
      <ion-button id="botones" (click)="sumarCantidad()">+</ion-button>
      <ion-button id="boton" (click)="alerta()">ordenar</ion-button>
    </div>
    </ion-card>
  </ion-router-outlet>

  </ion-app>



