#container {
  text-align: center;

  margin-top: 3;  
  transform: translateY(-50%);
}

#title {
  font-size: 18px;
  line-height: 30px;

  color: #e40e0e;
  text-align: center;;
  margin: 0;
}

#precio {
  font-size: 14px;
  line-height: 50px;
  margin-left: 40px;
  color: #e40e0e;
  font-weight: bold;  
}

#label {
  font-size: 14px;
  line-height: 50px;
  text-decoration: bold;
  margin-left: 4px;
  color: black;
  font-weight: bold;  
}
#botones {
  --border-radius: 50%;
  --background: #6a6362;
  font-weight: bold;  
  font-size: 14px;

}

#boton {
  --background: #2be55d;
  font-weight: bold;  
  font-size: 14px;
  color: white;
  float: right;  
}

#card {
  margin-top: -9px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}